.sidebar-items {
  .v-list-item {
    border-bottom: 1px solid var(--v-primary-base);

    &__content {
      text-align: center;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__subtitle {
      font-size: 1rem;
      color: var(--v-primary-base) !important;
    }
  }
}
